{% extends 'base.html' %}
{% load static %}

{% block title %}Minhas Contas{% endblock %}

{% block content %}
<div class="container mx-auto p-6">
    <h1 class="text-3xl font-bold mb-6">Contas dos Usuários</h1>

    <a href="#" class="px-4 py-2 bg-cf-primary hover:bg-cf-hover text-white rounded transition">
        Adicionar Nova Conta
    </a>

    <!-- Contêiner responsivo da tabela -->
    <div class="mt-6 bg-cf-dark-light border border-cf-muted/50 p-6 rounded-lg shadow-lg overflow-x-auto">
        <table class="min-w-full text-left border-collapse">
            <thead>
                <tr class="bg-cf-hover rounded">
                    <th class="p-4">Conta do Instagram</th>
                    <th class="p-4">Confirmação</th>
                    <th class="p-4">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                <tr class="border-b border-cf-muted text-cf-muted">
                    <td class="py-4 font-bold">{{ account.username }}</td>
                    <td class="py-4 font-bold {% if account.status == "CONFIRMED" %}text-green-400{% elif account.status == "PENDING"  %}text-red-400{% else %}text-yellow-400{% endif %}">
                        {{ account.get_status_display }}
                    </td>
                    <td class="py-4 font-medium space-x-4">
                        {% if account.status == "PENDING" %}
                            <a href="#" class="px-4 py-2  border border-green-400 text-green-400 hover:text-green-300 hover:border-green-300 font-bold rounded transition">
                                Confirmar conta
                            </a>
                        {% elif account.status == "WAITING_CODE" %}
                            <a href="#" class="px-4 py-2 border border-yellow-400 text-yellow-400 hover:text-yellow-300 hover:border-yellow-300 font-bold rounded transition">
                                Validar código
                            </a>
                        {% else %}
                            <a href="#" class="px-4 py-2 border border-white text-white hover:text-gray-200 hover:border-gray-200 font-bold rounded transition">
                                Refazer confirmação
                            </a>
                        {% endif %}
                        <a href="#" class="px-4 py-2 bg-blue-500 hover:bg-blue-600 text-white font-bold rounded transition">
                            Editar
                        </a>
                        <a href="#" class="px-4 py-2 bg-red-500 hover:bg-red-600 text-white font-bold rounded transition">
                            Excluir
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center text-gray-500 p-4">
                        Nenhuma conta cadastrada
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
